@use 'app/shared/styles/variables' as *;
@use 'app/shared/styles/mixins' as *;

main {
  min-height: 100vh;

  &.with-nav {
    padding-top: $nav-height;
  }

  &.with-player {
    padding-bottom: $player-height;

    @include mobile {
      padding-bottom: calc(#{$player-height} + 60px);
    }
  }
}
